@import "tailwindcss";
* {
  user-select: none;
}

button {
  cursor: pointer;
}

@keyframes checked-in {
  from {
    transform: scale(2);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}
